<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworkingTest-2017.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CLLocationManagerTest-20170304.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CLanguageTest-2018.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>ControllerTest-2017.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CopyAndMutableCopy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>CustomUIView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>FileIO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>LogSystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>MarsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MasonryTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>OCTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>TingYunTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>UISearchControllerTest-201703.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>iosTest2017.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>154F2A9C1E6E9A6E004F2DBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>156FA9C11E557E650065504B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>156FA9DF1E557F780065504B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>156FA9FA1E5581120065504B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158C4E2A2048F8DB00940689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>159680A01E6A694B0068B655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15E1F3051E6F89DB0014C731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15FE5B5F205FDC3900198615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
